.tooltip {
    background: rgba(0, 0, 0, 0.5);
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:100px; 
}
.codigo_tooltip{
    margin:100px;
}